html, body {
	width: 100%;
	height: 100%;
	text-align: center;
}

#searchForm {
	padding-bottom: 20px;
}

#gallery {	
	background-color: red;
	width: 80%;
	margin: 0 auto;
}

.message {
	display: none;
}

.img-block {
	padding: 20px;
	margin: 10px;
	width: 320px;
	height: 450px;
	background-color: white;
	float: left;
	text-align: left;
}

.title {
	height: 5em;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 15px 10px;
}

.modalOverlay {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 50px;
}

.modal {
	-webkit-box-shadow: 0 0 50px 10px #000;
  -moz-box-shadow: 0 0 50px 10px #000;
	box-shadow: 0 0 50px 10px #000;
	background-color: white;
	width: 50%;
	padding-top: 50px;
	margin: 0 auto;
	position: relative;
}

#closeButton {
	position: absolute;
	top: 5px;
	right: 5px;
}

#leftModalButton {
	position: absolute;
	top: 50%;
	left: 20%;
	font-size: 40px;
}

#rightModalButton {
	position: absolute;
	top: 50%;
	right: 20%;
	font-size: 40px;
}

#loadingImg {
	display: none;
}

.modal img {
	width: 80%;
	height: 80%;
}