html, body {
	width: 100%;
	height: 100%;
	text-align: center;
}
.row1 {
	padding-bottom: 20px;
}

.row2 {
	padding-top: 50px;
	background-color: #dddddd;	
}

.img-block {
	padding: 20px;
	margin: 10px;
	width: 400px;
	height: 450px;
	display: inline-block;
	background-color: white;
	font-size: 8pt;
}